*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root{

	--background: hsl(240, 78%, 98%);
	--purple-dark: rgba(141, 145, 234);
	--purple-light: #836FFF;
	--white: #FFFFF0;
}

body{
	width: 100vw;
	height: 100vh;
	background: var(--background);
	font-family: "Montserrat";
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 1;
}

h1{
	margin-top: 20px;
	margin-bottom: 20px;
}

/*toggle button*/
.power-button{
	width: 4.5rem;
	height: 2.2rem;
	background-color: var(--purple-light);
	background: linear-gradient(-10deg, var(--purple-light), var(--purple-dark));
	border-radius: 32px;
}

.power-button:hover{
	background: rgba(141, 145, 234,0.8);
}

#powerbutton{
	display: none;
}

.toggle{
	width: 1.6rem;
	height: 1.6rem;
	display: block;
	cursor: pointer;
	position: relative;
	top: 5px;
	left: 5px;
	z-index: 1;
	background-color: white;
	border-radius: 32px;
	box-shadow:  none;
	box-sizing: border-box;
	transition: .3s cubic-bezier(0.895, 0.07, 0.685, 0.68);
}

.toggle::before{
	content: "";
	position: absolute;
	text-transform: uppercase;
	font-size: 0;
	top: 14px;
	left: 12px;
}

.toggle::after{
	content: "";
	position: absolute;
	text-transform: uppercase;
	font-size: 14px;
	top: 14px;
	left: 10px;
}

.power-button{
	background-color: red;
}

#powerbutton:checked + .toggle{
	left: 2.6rem;
	background-color: white;
}

.toggle-button{
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1rem;
	margin-top: 10px;
	margin-bottom: 20px;
}

.cards{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	max-width: 800px;
	padding: 10px;
	/*grid-gap: 2px;*/
	align-items: center;
	margin-top: 30px;
	margin-bottom: 50px;
}

.cards > div:nth-child(2){
	height: 380px;
	background-color: var(--purple-dark);
	z-index: 1;
}

.card{
	width: 250px;
	height: 350px;
	background-color: white;
	border-radius: 0.5rem;

	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;

	gap: 1rem;

	box-shadow: 0 0 1em rgba(000,000,000,0.2);
}

.card h2{
	font-size: 1rem;
	text-align: center;
	margin-top: 10px;
}

.price{
	font-size: 3rem;
	font-weight: 800;
	text-align: center;
	margin-bottom: 10px;
}

.details{
	display: flex;
	height: 80px;
	width: 200px;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	margin-bottom: 10px;
}

.details li{
	width: 90%;
	text-align: center;
	list-style: none;
	border-top: solid rgba(200,200,200,0.5) 0.1rem;
	padding: 10px;

	font-size: 0.8rem;
	font-weight: 700;
}

.details li:last-child{
	border-bottom: solid rgba(200,200,200,0.5) 0.1rem;
}

.button-learn-more{
	width: 80%;
	height: 35px;

	border-radius: 0.2rem;
	border: none;

	margin-bottom: 20px;
	color: white;
	text-transform: uppercase;
	font-size: 0.6rem;
	font-weight: 700;
	letter-spacing: 0.2rem;
	cursor: pointer;
	background: linear-gradient(var(--purple-light), var(--purple-dark))
	/*background: linear-gradient(80deg, var(--purple-light), var(--purple-dark));*/
}

.card:nth-child(2){
	color: white;
}

.card:nth-child(2) .button-learn-more{
	background: white;
	color: var(--purple-light);
}

button:hover{
	background: none;
	border: solid var(--purple-dark) 0.1rem;
	color: var(--purple-dark);
}

.card:nth-child(2) .button-learn-more:hover{
	background: transparent;
	border: solid white 0.1rem;
	color: white;
}